/* #ff0066 pink color */

*{font-family: "Arial",sans-serif; font-size: 10pt;color: #333}
body{background: #f5f1e5; font-family: "Arial",sans-serif;  font-size: 10pt; color: #333}
a{text-decoration: none; outline: 0; border: none; color: #333;}
a:link{color: #333;}
.bold{font-weight: bold !important}
.normalWeight{font-weight: normal !important}
.noMargin{margin:0 !important}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h2{font-size: 28px;}
h3{font-size: 22px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
p{line-height: 17px; text-align: justify}
.last_child{margin-right: 0 !important; margin-left: 0 !important}
.float_left{float: left}
.float_right{float: right}
.height5{height: 5px}
.height10{height: 10px}
.block{display: block;}
.inline{display: inline !important}
.widthAuto{width: auto !important}
.center{text-align: center;}
.align_left{text-align: left !important;}
.align_right{text-align: right !important;}
.white_color{color: #fff !important;}
.relative{position: relative}
.absolute{position: absolute;}
.margin_top_20{margin-top: 20px;}
.margin_top_10{margin-top: 10px;}
.margin_left_10{margin-left: 10px;}
.margin_right_5{margin-right: 5px;}
.margin_right_10{margin-right: 10px;}
.margin_top_5{margin-top: 5px;}
.margin_bottom_5{margin-bottom: 5px;}
.margin_bottom_10{margin-bottom: 10px;}
.margin_bottom_20{margin-bottom: 20px;}
.padding_10{padding: 10px;}
.link:hover{color:#32c7f2}
.linkActive{color:#32c7f2}
.listMargin li{margin-bottom: 10px;}
.listMargin a:hover{color: #ff0066}
.blackColor{color: #000}
.sort{display: block; width: 7px; height: 14px;}
.sortDown{background: url(../images/sort_down.png) no-repeat;}
.sortUp{background: url(../images/sort_up.png) no-repeat;}
.sortUpDown{background: url(../images/sort_up_down.png) no-repeat;}
.sortText{}

.border_radius_5{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

.no_border{border: none !important}

.ccc_border{border: 1px solid #CCC;}

.pink_color{color: #ff0066 !important}

.pink_bg{background: #ff0066;}

.orange_color{color: #ff9966;}

.blue_color{color:#32c7f2 !important}

.blue_block{background: #31c5f3; display: block;}

.grey_block{background: #CCC; display: block;}

.editInfoBtn{text-indent: -9999px; display: block; border: none; width: 16px; height: 16px; background: url(../images/edit_info.jpg) no-repeat}

.delInfoBtn{text-indent: -9999px; display: block; border: none; width: 16px; height: 16px; background: url(../images/del_info.jpg) no-repeat}

.whitePink_block{background: #f7f1e5; padding: 15px}

.whitePink_block p{margin-bottom: 5px; color: #575048;}

.top_menu a{height: 30px; display: block; line-height: 30px;}

.top_menu{padding: 0 20px;}

.top_left_menu a{color: #ff0066}

.top_left_menu li{margin-right: 40px;}

.top_right_menu li{margin-left: 40px;}

.li_float_left li{float: left}

.openShopBtn{color: #666;background: url(../images/openshop.png); width: 188px; height: 27px; line-height: 27px; text-align: center;}

.delShopBtn{color: #666;background: url(../images/del_shop.png); width: 114px; height: 27px; line-height: 27px; text-align: right; padding-right: 5px;}

#logo{display: block; width: 180px; margin: auto;}

.content{padding: 10px 0 0 0; background: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.social_icon{background: url(../images/social_media_icon.jpg); height: 22px; text-indent: -9999px;}

.rss_ico{background-position: -30px 0}

.tw_ico{background-position: -60px 0}

.fb_ico{background-position: -90px 0}

.sidebar_menu{margin-top: 25px;}

.sidebar_menu li{margin-bottom: 15px;}

.sidebar_menu a{display: block; text-align: center;}

.sidebar_menu span{padding:5px 20px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

.sidebar_menu span:hover{background: #c2d94b;}

.sidebar_menu span:active{background: #ff0066; color: #fff;}

.sidebar_menu .current{background: #ff0066; color: #fff;}

.sidebar_menu .current:hover{background: #ff0066; color: #fff;}

.blue_bg{height: 46px; background: url(../images/search_bg.png);}

.blue_bg_tool{padding: 12px 5px 11px 5px; position: relative;}

.blue_bg_tool input{padding: 0 25px; height: 28px; line-height: 28px; border: 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fff;}

.blue_bg_tool #searchTxt{width: 250px !important}

.blue_bg_tool select{border:0;top:0; left:0;position: absolute; z-index: 101; width: 190px; height: 28px; opacity: 0;filter:alpha(opacity=0);}

.blue_bg_tool select option{border:0}

.blue_bg_tool .comboBox{position: relative; height: 28px;}

.blue_bg_tool .comboBox span{top:0; left:0;background: url(../images/select_cate.png);position: absolute; width: 140px; height: 28px; display: block; z-index: 100; line-height: 28px; padding: 0 25px; overflow: hidden;}

.blue_bg_tool #searchBtn{margin: 0 0 0 5px; background: url(../images/search_btn.png); width: 90px; cursor: pointer; height: 28px; float: left; border:0; padding: 0 0 0 20px;}

.container{padding: 10px 0 0 0;}

.cartBtn{position: relative; width: 70px; height: 28px; background: url(../images/cart_btn.png); display: block; margin-left:10px;}

.cartBtn span{height: 20px; width: 20px; top: 3px; left: 34px; line-height: 20px; text-align: center;color: #fff;position: absolute;}

.cartEmptyBtn{width: 70px; height: 28px; background: url(../images/cart_btn_empty.png); display: block; margin-left:10px;}

.minicart{display: none;position: absolute; right:0;top:40px;background: #fff;width: 320px; padding: 10px 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #CCC;}

.minicart .minicart_product_img img{border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

.minicart .minicart_product_info{margin-left: 10px;}

.minicart .minicart_product_price{margin: 5px 0}

.minicart .minicart_product{position: relative; padding: 0 0 10px 0; margin: 0 10px 10px 10px; border-bottom: 1px solid #CCC;}

.minicart .minicart_del_btn{position: absolute; right:0; top: 25px;}

.minicart .minicart_product_name{display: block; padding-top: 5px;}

.minicart .minicart_summary{margin: 0 10px;}

.minicart .minicart_summary p{text-align: right; margin-bottom: 5px;}

.minicart .minicart_menu{margin: 0 10px; margin-top: 10px;}

.minicart .minicart_menu li{float: right; margin-left: 10px;}

#main{padding-right: 10px;}

.top_banner{margin: 0 0 10px 0;background: #f9f5ec; padding: 5px 5px 5px 0;}

.top_banner_content{width: 230px; margin-right: 10px; text-align: right;}

.top_banner_content_container h2{font-weight: normal;}

.top_banner_content_container h2 a{font-size: 21px; font-weight: normal;}

.top_banner_content_container p{color: #9565cb; font-size: 10pt; margin-top: 10px; text-align: right}

.top_banner_content_container{padding: 0 0 0 0; width:220px; height:102px;float: right; position:relative;}

.top_banner_btn{position: absolute; bottom: 0; right: 0;width: 92px; height: 21px; background: url(../images/top_banner_btn.png); color: #fff; border: 0; padding: 0;}

.big_title{font-size: 21px; border-bottom: 2px solid #ccc; padding: 0 0 10px 0; margin-bottom: 10px;}

.breadcrumbs{margin-bottom: 10px; border-bottom: 2px solid #CCC; padding: 0 0 10px 0;}

.breadcrumbs li{float: left; margin-right: 20px;}

.breadcrumbs span.arrow{margin-top: 2px;width: 9px; height: 10px; background: url(../images/breakcum_arrow.png); text-indent: -9999px; display: block}

.product_thumb{margin-top: 10px;}

.product_thumb a{display: block; float: left; margin-right: 10px;}

.product_thumb img{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

#product_detail_tab{margin-top: 40px;}

.product_detail_tab li{float: left;}

.product_detail_tab a{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: block; padding: 9px 18px;}

.product_detail_tab a.selected{background: #f7f1e5; border: 1px solid #CCC; border-bottom: none;}

.product_detail_tab_desc{float:left; margin-top: -3px;width: 368px; border: 1px solid #CCC;}

.product_detail_tab_desc p{text-align: justify; margin-bottom: 5px; line-height: 20px}

#product_detail_right{margin-left: 10px; }

#product_detail_right .price{font-size: 26px; margin-top: 10px;}

#product_detail_right .addToCart_big{margin-top: 10px;}

#product_detail_right p{line-height: 17px}

.addToCart_big{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; cursor: pointer;border: none;display: block;width: 295px; box-shadow:inset 0 0 10px #b61a28; height: 33px; line-height: 33px; background: #e2276e; text-align: center; color: #fff}

.addToCart_big:hover{color:#fff;}

.product_detail_quantity{width: 40px; border: 1px solid #CCC; height: 20px;}

#product_detail_right .reviewBtn_big{margin-top: 10px;}

.list_review{margin-bottom: 10px;}

.list_review .review_desc{border: 1px solid #CCC; padding: 10px;}

.list_review .review_desc p{text-align: justify}

.rating_star a{display: block; float: left; margin-left: 10px; width: 13px; height: 12px !important; background: url(../images/star.png);}

.rating_star .active{background-position: 0 0}

.rating_star .inactive{background-position: -13px 0}

.reviewBtn_big{position: relative;cursor: pointer; border: none;display: block;width: 157px; padding-left: 10px;height: 40px; line-height: 40px; background: url(../images/review_bg.png);}

.reviewBtn_value{position: absolute; width: 40px; height: 40px; right: 0; text-align: center;}

.child_cate{margin-bottom: 10px}

.child_cate li{float: left; margin-bottom: 5px; margin-right: 5px;}

.child_cate a{background: #CCC; display: block; padding: 5px 10px 5px 10px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px}

.child_cate a.current{background: #32c6f4; color: #fff;}

.child_cate a:hover{background: #32c6f4; color: #fff;}

.grid_product{margin-bottom: 10px;}

.grid_product .product{border: 1px solid #f1f1f1; padding: 1px; position: relative; margin-right: 8px; margin-bottom: 6px;}

.grid_product .addNew{width: 165px; height: 98px; background: #CCC; padding-top: 70px;text-align: center;}

.grid_product .product img{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

.grid_product .product_hover{display: none; padding: 20px; position: absolute;background: url(../images/products_hover_bg.png);width: 125px; height: 89px;}

.grid_product .product_hover p{font-weight: bold; margin-bottom: 5px;}

.grid_product .product .price{font-size: 16px;}

.grid_product .addToCart{right: 10px; bottom: 10px; text-indent: -9999px; position: absolute; background: url(../images/add_to_cart_btn.png) 0 -17px; width: 19px; height: 17px; display: block;}

.grid_product .addToCart:hover{right: 10px; bottom: 10px; text-indent: -9999px; position: absolute; background: url(../images/add_to_cart_btn.png); width: 19px; height: 17px; display: block;}

.likeBtn{text-indent: -9999px; display: block; width: 28px; height: 16px; background: url(../images/like_products_btn.png) 0 -16px no-repeat}

.grid_product .likeBtn{position: absolute; bottom: 10px; right: 40px;}

.likeBtn:hover{background: url(../images/like_products_btn.png) 0 0}

.planeBtn{text-indent: -9999px; display: block; width: 20px; height: 17px; background: url(../images/plane.png) 0 0 no-repeat}

.planeBtn:hover{background: url(../images/plane.png) 0 -17px}

.handleBtn{text-indent: -9999px; display: block; width: 20px; height: 15px; background: url(../images/handle.png) 0 0 no-repeat}

.handleBtn:hover{background: url(../images/handle.png) 0 -17px}

#hottest_store{padding: 5px 5px 5px 0; background: #ee1878; margin:0;}

#hottest_store .hottest_store_content{ width: 160px !important;}

#hottest_store .hottest_store_content_container{width: 145px; float: right; text-align: right; padding: 20px 0;}

#hottest_store .hottest_store_content_container h3{color: #fff; font-size: 28px; line-height: 20px; font-weight: normal}

#hottest_store .hottest_store_content_container h3 a{color: #fff; font-size: 28px;font-weight: normal}

#hottest_store .hottest_store_content_container h3 a:hover{color: #34c6f5}

#hottest_store .hottest_store_content_container p{margin-top: 10px; font-size: 10pt; color: #ccc;}

.hot_store .store{border: 1px solid #333; display: block; cursor: pointer;}

.hot_store .storeBlock{margin-right: 8px; float: left;}

.hot_store .hidden_store{display: none !important}

.hot_store{margin-bottom: 20px}

.new_products .product{margin-right: 5px;}

.new_products img{border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

.bottom_deco{float: right; padding: 60px 0 0 0;}

.foot_menu a{color: #ff0066; height: 34px; display: block; line-height: 34px;}

.foot_menu{padding: 0 10px 30px 0;}

.foot_menu li{margin-left: 40px;}

.adveBanner{padding-top: 50px;width: 154px; height: 300px; margin: auto;}

.banner1{margin-top: 30px;background: url(../images/banner_left_bg1.jpg);}

.banner2{background: url(../images/banner_left_bg2.jpg);}

.adveBanner .banner_content{margin: 0 auto;width: 137px; height: 246px; background: #666;}

#bottombg{margin-top:-362px;height: 362px; width: 100%; background: url(../images/bg_bottom.jpg) repeat-x top}

#wrapper{position: relative; z-index: 100;}

.list_event{margin-bottom: 20px;}

.list_event .event_name{margin-bottom: 20px; }

.list_event .event_name a{font-size: 20px; color: #ff3366;}

.list_event .event_time{font-weight: bold; margin-bottom: 5px;}

.list_event .event_place{line-height: 17px;margin-bottom: 5px;}

.list_event .event_description p{line-height: 17px;text-align: justify;}

.list_event .view_event_detail{color: #ff3366; font-style: italic;}

.listStatisticJob li{margin-bottom: 10px;}

.listStatisticJob li ul{padding: 10px 0 0 20px; display: none;}

.listStatisticJob li ul span{display: block; width: 150px;}

.event_tool{margin-top: 10px;}

.event_tool .toolBtn{float: left; height: 20px; background: url(../images/fb_btn.png); display: block;}

.event_tool #sendBtn{background-position: -39px 0;width: 44px; }

.event_tool #emailBtn{background-position: -82px 0;width: 36px;}

.event_tool .public_to_wall{display: block; margin-left: 10px;width: 107px; height: 21px; background: url(../images/publish_to_wall_btn.png);}

.madeit_overlay{display: none; position: fixed; z-index: 10000; top: 0px;left: 0px;height: 100%;width: 100%;background: black; opacity: 0.8; filter:alpha(opacity=80);}

.madeit_lightbox{width: 550px;border: 3px solid #32c6f4; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fff; padding: 30px;  visibility: hidden; position: fixed; opacity: 1; z-index: 11000; left: 50%;top:100px; margin-left: -315px;}

.madeit_lightbox_big_title{color:#ff3366; font-size: 20px; border-bottom: 2px solid #CCC; padding-bottom: 10px;}

.madeit_lightbox_close_btn{float: left;display: block; width: 15px; height: 14px; background: url(../images/close.png) 0 -14px;}

.madeit_lightbox_close_btn:hover{background: url(../images/close.png) 0 0;}

.madeit_lightbox_close_label{font-size: 15px; margin-right: 5px;display: block; float: left;}

.madeit_lightbox p{line-height: 17px; margin-bottom: 5px;}

.madeit_form label{display: block; width: 135px; text-align: right; padding: 8px 20px 0 0;}

.madeit_form .hint_icon{display: block; border:0;margin-left: 10px; display: block; width: 31px; height: 23px; background: url(../images/hint.png)}

.madeit_form .error{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;position: relative;margin-left: 20px; background: #ccc; padding: 5px 20px;}

.madeit_form .error_arrow{position: absolute; top:-5px; left:-18px; background: url(../images/error_bg_left.png); width: 19px; height: 26px;}

.madeit_form .textbox{border:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 5px #666 inset; -moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset; height:25px; line-height:25px; width:190px; text-indent:5px;}

.madeit_form .comboBox select{border:0;top:0; left:0;position: absolute; z-index: 101; width: 190px; height: 28px; opacity: 0;filter:alpha(opacity=0);}

.madeit_form .rm_selected:hover{font-weight: bold}

.madeit_form .comboBoxSmall select{border:0;top:0; left:0;position: absolute; z-index: 101; width: 63px; height: 28px; opacity: 0;filter:alpha(opacity=0);}

.madeit_form .comboBoxMid select{border:0;top:0; left:0;position: absolute; z-index: 101; width: 95px; height: 28px; opacity: 0;filter:alpha(opacity=0);}

.madeit_form .comboBox select option{border:0}

.madeit_form .comboBox{position: relative; height: 28px;width: 190px}

.madeit_form .comboBoxSmall{position: relative; height: 28px;width: 63px}

.madeit_form .comboBoxMid{position: relative; height: 28px;width: 95px}

.madeit_form .comboBox span{border:none;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;-webkit-box-shadow:0 0 5px #666 inset; -moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset;top:0; left:0;background: url(../images/select_cate.png);position: absolute; width: 140px; height: 28px; display: block; z-index: 100; line-height: 28px; padding: 0 25px; overflow: hidden;}

.madeit_form .comboBoxSmall span{border:none;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;-webkit-box-shadow:0 0 5px #666 inset; -moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset;top:0; left:0;background: url(../images/select_S.png);position: absolute; width: 43px; height: 28px; display: block; z-index: 100; line-height: 28px; padding: 0 10px; overflow: hidden;}

.madeit_form .comboBoxMid span{border:none;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;-webkit-box-shadow:0 0 5px #666 inset; -moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset;top:0; left:0;background: url(../images/select_M.png);position: absolute; width: 75px; height: 28px; display: block; z-index: 100; line-height: 28px; padding: 0 10px; overflow: hidden;}

.madeit_form input.datepicker{padding: 0 20px; width: 150px;}

.madeit_form .filebox{position: relative; width: 76px; height: 22px;}

.madeit_form .filebox input{height: 22px;position: absolute; top:0; left:0; z-index: 10;opacity: 0; filter:alpha(opacity=0);width: 76px;}

.madeit_form .filebox .filebox_text{display:block;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; position: absolute; top:0; left:0; z-index: 9;width: 76px; background: #999; color: #fff; text-align: center; line-height: 22px; height: 22px;}

.madeit_form .filebox_selected{margin-right: 10px;}

.madeit_form .fileboxBtn{position: relative; width: 51px; height: 51px;}

.madeit_form .fileboxBtn input{height: 51px;position: absolute; top:0; left:0; z-index: 10;opacity: 0; filter:alpha(opacity=0);width: 51px;}

.madeit_form .form_sep{height: 2px; background: #ccc; margin: 5px 0 5px 0}

.madeit_form textarea{height: 100px;-webkit-box-shadow:0 0 5px #666 inset; -moz-box-shadow:0 0 5px #666 inset; box-shadow:0 0 5px #666 inset;}

.madeit_form .checkbox_text{margin-left: 10px; padding-top:3px;}

.form_btn{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:0px 30px; height: 30px; text-align: center; border:0; cursor: pointer;}

.form_btn:hover{color: #fff;}

.blue_btn{background: #32c7f2;}

.green_btn{background: #c0d947;}

.grey_btn{background: #aaa;}

a.grey_btn{background: #aaa; color: #000; padding: 5px 20px;}

a.grey_btn:hover{color: #fff;}

.errors{background: #ffaaaa; padding: 10px; margin-bottom: 10px;}

.errors ul{list-style-type: circle; padding-left: 20px;}

.errors li{margin-bottom: 5px;}

.errors li, .errors p, .errors span{color: #fff;}

.errors a{color: #CCC;}

.grid_tool{margin-bottom: 10px;}

.grid_tool .comboBox{width: 190px; margin-right: 25px;}

.grid_tool .form_btn{height: 26px; color: #fff;}

.grid_tool label{padding: 8px 10px 0 0;font-weight: bold;text-align: left; width: auto;}

.grid_tool .textbox{width: 100px; margin-right: 10px;}

#tooltip {position: absolute; z-index: 9000; background-color: #999;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;padding: 10px;color: #fff;box-shadow: 0px 0px 10px #888888;}

#tooltip h3, #tooltip div {color: #fff; margin: 0; font-size: 11pt}

.paging a{text-align: center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; line-height: 20px;display: block; width: 20px; height: 20px; margin-right: 5px; color: #000; float: left;}

.paging .pagingNav{margin-top:3px; width: 10px; height: 14px; background: url(../images/paga_nav_btn.jpg) no-repeat}
.paging .first{background-position: 0 0}
.paging .first:hover{background: url(../images/paga_nav_btn.jpg) 0 0 no-repeat}
.paging .last{background-position: -30px 0}
.paging .last:hover{background: url(../images/paga_nav_btn.jpg) -30px 0 no-repeat}
.paging .next{background-position: -20px 0}
.paging .next:hover{background: url(../images/paga_nav_btn.jpg) -20px 0 no-repeat}
.paging .prev{background-position: -10px 0}
.paging .prev:hover{background: url(../images/paga_nav_btn.jpg) -10px 0 no-repeat}

.paging .current{background: #ff0066; color: #fff;}

.paging a:hover{background: #ff0066; color: #fff;}

.list_alphabe{margin-right: 30px;}

.list_alphabe_shop{margin-bottom: 20px}

.alphabe_char{font-size: 25px; padding-bottom: 10px;}

.alphabe_shop{padding: 10px 0;}

.alphabe_shop li a{display: block; padding: 5px 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

.alphabe_shop li a:hover{background: #32c6f4; color: #fff;}

.shopping_cart_step li{position: relative; float: left; margin-right: 10px;min-width: 190px; max-width: 230px; height: 30px;overflow: hidden;}

.shopping_cart_step_anchor{position: absolute; top:0; left:0;z-index: 10; min-width: 190px; max-width: 230px; height: 30px; overflow: hidden;}

.shopping_cart_step_noClick{position: absolute; top:0; left:0; z-index: 11;min-width: 190px; max-width: 230px; height: 30px; overflow: hidden;}

.shopping_cart_step_text{float: left; display: block; line-height: 31px; margin-left: 10px;}

.shopping_cart_step_bg{float: left; line-height: 30px; text-align: center; color: #fff;width: 31px; height: 30px;background: url(../images/step1_round.png) 0 -30px no-repeat; display: block;}

.shopping_cart_table{margin-top: 10px; margin-bottom: 10px;}

.shopping_cart_table tbody{}

.shopping_cart_table .whitePink_block{padding: 5px;}

.shopping_cart_table th{border: 1px solid #CCC;}

.shopping_cart_table .colHead{height: 14px;}

.shopping_cart_table td{border:1px solid #CCC; padding: 5px;vertical-align: middle; font-weight: bold;}

.shopping_cart_table td span,.shopping_cart_table td a{display: block; height: 62px; margin-left: 10px; line-height: 62px;}

#shopping_cart_step3 p{margin-bottom: 10px;}

.shipping_form .required{color: red;}

.shipping_form .floatBlock{margin-right: 36px;}

.shipping_form label{display:block; margin-bottom: 5px;}

.shipping_form .textbox{border:1px solid #CCC; width: 207px; height: 20px;}

.shipping_form select{width: 190px; height: 24px; width: 209px; padding:2px 4px; border: 1px solid #CCC;}

.shipping_form textarea{border: 1px solid #CCC; width: 693px; height: 100px;}

.reviewTab a{display: block; padding: 5px 20px;}

.reviewTab a.selected{background: #ff0066; color: #fff;}

.advTypeOpt{visibility: hidden}

.mailtable td{padding: 5px; vertical-align: middle}

.mailtable input.checkbox{top:15px; left: 8px;}

.mailtable tr.odd{background: #faf9f7;}

.mailtable tr.even{background: #f7f1e5;}

.mailtable tr:hover{background: #ff0066; color: #fff;}

.mailtable tr.active{background: #ff0066; }

.mailtable tr.nohover:hover{background: none;}

.mailtable ul.folderList{display: none;}