link(href='/css/reset.css', rel='stylesheet', type='text/css')
link(href='/css/960_24_col.css', rel='stylesheet', type='text/css')
link(href='/css/style.css', rel='stylesheet', type='text/css')
link(href='/js/zebra-datepicker.1.6.2/css/zebra_datepicker_metallic.css', rel='stylesheet', type='text/css')
link(href='/css/jquery.jscrollpane.css', rel='stylesheet', type='text/css')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/jquery.mousewheel.js')
script(type='text/javascript', src='/js/jquery.jscrollpane.min.js')
script(type='text/javascript', src='/js/jquery.bgiframe.min.js')
script(type='text/javascript', src='/js/jquery.dimensions.js')
script(type='text/javascript', src='/js/jquery.tooltip.min.js')
script(type='text/javascript', src='/js/zebra-datepicker.1.6.2/javascript/zebra_datepicker.js')
script(type='text/javascript', src='/js/jquery.idTabs.min.js')
script(type='text/javascript', src='/js/custom.js')