.sidebar_menu
    ul
        li
            a(href='/')
                span Phụ kiện thời trang
        li
            a(href='/')
                span Giỏ - Ví - Nón - Giày dép
        li
            a(href='/')
                span Quần áo
        li
            a(href='/')
                span Trang trí nhà cửa
        li
            a(href='/')
                span Phụ kiện công nghệ
        li
            a(href='/')
                span Văn phòng phẩm
        li
            a(href='/')
                span Thiệp - Quà tặng
        li
            a(href='/')
                span Làm đẹp - Thư giãn
        li
            a(href='/')
                span Du lịch
        li
            a(href='/')
                span Thú bông,  trẻ em
        li
            a(href='/')
                span Nguyên vật liệu
        li
            a(href='/')
                span Sản phẩm tái chế
        li
            a(href='/')
                span SP doanh nghiệp xã hội
        li
            a(href='/')
                span SP thiết kế theo yêu cầu
        li
            a(href='/')
                span SP sưu tầm
        li
            a(href='/')
                span Đan, thêu, móc
        li
            a(href='/')
                span Gỗ - Giấy - Thuỷ tinh
        li
            a(href='/')
                span Vải
        li
            a(href='/')
                span Gốm - Sứ - Đất sét
    .sidebar_bottom(style='width: 150px; height: 33px; margin: auto;')
        img(src='/images/cate_menu_bottom.jpg')