div.grid_4.prefix_1.suffix_1(style='padding-top: 20px;')
  a(href='')
    img(src='/images/logo_shop.jpg', width='150', height='150')
  p.margin_top_10.margin_bottom_5 Haishita
  p Q5, TPHCM
  a.pink_bg.white_color.border_radius_5.block.center.margin_top_10(href='', style='padding: 5px;') Shop của tôi
  ul.margin_top_20.listMargin
    li
      a(href='') Thông tin tài khoản
    li
      a(href='') Thông tin cá nhân
    li
      a(href='') Tùy chỉnh nhận tin
    li
      a(href='') Đơn hàng của tôi
    li
      a(href='') Góc yêu thích
    li
      a(href='') Góc đánh giá
    li
      a(href='') Thiết lập riêng tư
    li
      a(href='') Hộp thư
